:root {
    --light-text-color: #6b8691;
    --dark-shadow-color: rgba(0, 0, 0, 0.3);
    --modal-background-color: #2d4b56;
    --error-color: rgb(121 114 96);
}

form {
    display: flex;
    flex-wrap: wrap;
}

.inputGroup {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.inputGroup * {
    box-sizing: border-box;
}
.inputGroup input {
    background: #577f8e;
    padding: 5px 10px;
    color: #fff;
    border: none;
}
.inputGroup ::-webkit-outer-spin-button, .inputGroup ::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}
.inputGroup input[type=number] {
    -moz-appearance:textfield;
}
.inputGroup label,.canvasGroup {
    font-weight: 700;

    padding: 10px 0
}

.inputGroup select {
    background: #577f8e;
    padding: 5px 10px;
    color: #fff;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
            linear-gradient(45deg, transparent 50%,  #fafafa 50%),
            linear-gradient(135deg, #fafafa 50%, transparent 50%),
            linear-gradient(to right, #577f8e, #577f8e);
    background-position:
            calc(100% - 15px) 10px,
            calc(100% - 10px) 10px,
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}
.canvasGroup * {
    box-sizing: border-box;
}
.canvasGroup {
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.canvasGroup label {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.canvasGroup .canvasMenu {
    width: 250px;
    background: rgb(28, 51, 63);
    overflow-y: auto;
}
.panel {
    display: flex;
    justify-content: space-between;
}
.panel img {
    cursor: pointer;
}
.imageDefault, .imageActive {
    display: none;
}
.panel .imageDefault {
    display: block;
}
.panel .active .imageActive {
    display: block;
}
.panel .active .imageDefault {
    display: none;
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #577f8e;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}
.item .deleteElement {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 18px;
}
.item .color {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}
.item .color input {
    opacity: 0;
    border: none;
    outline: none;
    padding: 0;
}
.items .active {
    background: #577f8e;
    color: #1d3340;
}
.items .itemLabel {
    display: flex;
    align-items: center;
}
.itemLabel img {
    width: 25px;
    margin-right: 10px;
}
.labelForm {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
}
.nameDetector {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
}
.nameDetector img {
    padding: 3px;
    width: 20px;
    margin-right: 10px;
    background-color: var(--light-text-color);
}
.errorWrap {
    height: 30px;
}
.error {
    color: var(--error-color);
}
.fakeSliderWrap {
    width: 100%;
    padding: 0 10px;
    background-color: #1d3340;
    border-radius: 15px;
}
.fakeSlider {
    display: flex;
    width: 100%;
    position: relative;
    user-select: none;
    height: 26px;
    cursor: pointer;
    align-items: center;
}
.selectActive {
    height: 10px;
    background-image: url("svg/circleDefault.svg");
    background-color: transparent;
    background-size: 10px;
    background-repeat: repeat-x;
    background-position: 0 0;
}
.selectNew {
    height: 10px;
    background-image: url("svg/circleActive.svg");
    background-color: transparent;
    background-size: 10px;
    background-repeat: repeat-x;
    background-position: 100% 100%;
}
.thumb {
    border: 5px solid #fff;
    border-radius: 25px;
    background: #2497E3;
    width: 20px;
    height: 20px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 12px;
    cursor: pointer;
    left: 0;
}
.fakeSliderMultiple .selectNewMin {
    background-position: 0 0;
}
.fakeSliderMultiple .selectNewMax {
    background-position: 100% 100%;
}
.selectActiveMin {
    background-position: 100% 100%;
}
.selectActiveMax {
    background-position: 0 0;
}
.labelValueWrap {
    padding: 0 5px;
}
.labelValue {
    width: 100%;
    margin: 5px 2px;
    position: relative;
}
.labelValue .min {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%);
}
.labelValue .max {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
}
.value {
    position: absolute;
    top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #2497E3;
    z-index: 5;
    transform: translateX(-50%);
}
.labelMultiple {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 0 0;
    position: relative;
}
.wrapButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 100%;
}
.wrapButton button{
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-color: #2497E3;
    padding: 10px 20px;
}
